#tutorialBody{
  background: #f5f5f5;
  width:964px;
  margin:20px auto;
  padding:30px;
  box-shadow: #888 2px 2px 2px;
  position: relative;
}

#tutorialBody:before{
  content: "";
  width:10px;
  height:100%;
  background: #3f51b5;
  display: block;
  position: absolute;
  top:0;
  left:0;
}

.clear:after{
  content: "";
  display: block;
  clear: both;
}

h1{
  font-weight: 500;
  font-size: 2rem;
}

h1:after{
  display: block;
  width:100%;
  content: "";
  border-bottom: 1px #e0e0e0 solid;
  margin: 10px 0;
}

.paragraph{
  margin-left: 2rem;
}

h2{
  font-size: 1.5rem;
  font-weight: 400;
}

.paragraph p{
  font-weight: 300;
  padding-left: 1rem;
  text-indent: 1rem;
}

.file{
  display: inline-block;
  width:200px;
  background: #fff;
  box-shadow: #888 2px 2px 2px;
  float:left;
  margin: 10px;
  height:250px;
  position: relative;
}

.file .fileImg{
  background-size: cover;
  background-repeat: no-repeat;
  transition:background 1s ease;
  width:100%;
  height:140px;
}

.file:hover .fileImg{
  background-position: bottom;
}

.file:after{
  width:100%;
	display: inline-block;
	height:10px;
	position: absolute;
	bottom:0px;
	left:0px;
	content: "";
	transition: background ease 0.2s;
}

.file:hover:after{
  background: #795548;
}

.filename{
  color:#000;
  padding:0.5rem 10px;
}

.listInfo {
  padding-left: 1rem;
  font-weight: 300;
}

.listInfo span{
  list-style: disc;
  display: list-item;
  line-height:1rem;
}

.alert{
  color:#f44336;
}

h3{
  font-weight: 400;
  font-size: 1rem;
}

#intro .exImg{
  margin: 0 auto;
  height: 238px;
}

.strong{
  font-weight: 500;
}

.exImg{
  border:#fff 10px solid;
  box-shadow: #888 2px 2px 2px;
  width:300px;
  height:300px;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #fff;
}

#example>div{
  width:680px;
  margin: 0 auto;
}

#example .exImg{
  display: inline-block;
  margin:10px;
}