#title{
	width:100%;
	height:600px;
	margin:0 auto;
	position: relative;
	overflow: hidden;
}

#innerTitle{
	height:100%;
	position: relative;
	left:0px;
	transition: left 2s ease;
	white-space: nowrap;
}

.titleBody{
	height:100%;
	width:1024px;
	position: relative;
	background-size: cover;
	background-position: center;
	display: inline-block;
}

.titleName{
	color:#fff;
	font-weight: 500;
	position: absolute;
  white-space: pre-wrap;
}

.mainTitle{
	font-size:4rem;
}

.subTopic{
	font-size: 2rem;
}

.titleIframe, .titleIframeLink{
	border:0;
	padding:0;
	margin:0;
	width:100%;
	height:100%;
	position: absolute;
	top:0;
	left:0;
}
#titlecg .titleName{
	right:5%;
	bottom:20%;
	text-shadow: #888 2px 2px;
	font-size: 0;
}


#titlecg .mainTitle, #titlecg .subTopic{
  display: inline;
}

#titlehw1 .titleName{
  left:50px;
	bottom: 100px;
	text-shadow: #888 2px 2px;
}

#titlehw2 .titleName{
  left:10%;
	top: 40%;
	text-shadow: #888 2px 2px;
}

#titlehw3 .titleName, #titlehw4 .titleName{
  top:50%;
	left:50%;
	text-align: center;
  transform: translateY(-50%) translateX(-50%);
}

#titlehw4 .titleName{
	font-family: 'Titillium Web';
}

#titlefinal .titleName{
	left:50%;
	bottom:10%;
	transform: translateX(-50%);
	text-align: center;
  font-family: "Work Sans";
	font-weight: 100;
}

#titlefinal .subTopic{
	margin-top: 1rem;
	letter-spacing: 1rem;
}

#titleNav{
	position:absolute;
	height:10px;
  left:0;
	bottom:0;
	padding:50px 50px 10px 5px;
}

.titleNavEle{
	width:10px;
	height:10px;
	border-radius: 5px;
	background:#ccc;
	box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 1px;
	margin:0 5px;
	float: left;
	transition: background ease 0.25s, width ease 0.25s;
	cursor: pointer;
}

.titleNavEle:hover{
	background: #6b5c57;
}

.currentTitle, .currentTitle:hover{
	background: #795548;
	width:20px;
}
#infoBody{
	width: 1024px;
	margin: 0 auto;
}

#infoBody:after{
	clear:both;
	content: "";
	display: block;
}

.infoEle{
	background: #fff;
	padding:30px;
	margin:20px 0;
  float:left;
	box-shadow:#888 2px 2px 2px;
}

#nextLecture{
	width:calc(65% - 80px);
	margin-right: 20px;
	position: relative;
}

.infoEle:after{
	content: "";
	position: absolute;
	height:100%;
	background: #ffc107;
	width:10px;
	top:0;
	left:0;
}

.week{
	font-weight: 300;
	font-size: 1rem;
}

.courseTitle{
	font-size: 1.5rem;
	margin:5px 2rem 0 2rem;
}

.courseTitle:after, #annTitle:after{
	display: block;
	content: "";
	width:100%;
  margin:10px 0;
	border-bottom: #e0e0e0 1px solid;
}

.courseInfo{
	font-weight: 300;
	padding-left: 2rem;
}

#announcement{
	width: calc(35% - 60px);
	position: relative;
}

#annTitle{
	font-size: 1.5rem;
}

@media screen and (max-width: 1023px){
  #title{
    width:100%;
		height:300px;
  }
	
	#infoBody{
	  width:calc(100% - 40px);
    margin:0 auto;
	}
	
	#nextLecture, #announcement{
		width:auto;
		float:none;
		margin-right:0;
	}
} 

@media screen and (max-width: 480px){
	.mainTitle{
		font-size: 2rem;
	}
	.subTopic{
		font-size: 0.8rem;
	}
	
}