header li html, body, header, ul{
	margin:0;padding:0;
}

html{
	background: #ccc;
	font-family: 'Roboto', sans-serif, '黑體';
}

body{
	min-width: 1024px;
}

a{
  text-decoration:none;
	color:#fff;
}

header{
	background: #555;
}

header ul{
	width:1024px;
	margin:0 auto;
}

header ul:after{
	clear:both;
	content: "";
	display: block;
}

header li{
	display: inline-block;
	font-weight: 500;
	position:relative;
	background:#555;
	transition: background ease 0.25s;
}

header li:hover, .navigatorButtontrue, #navigatorButton:hover{
	background-color:#303030;
}

#navigatorButton{
	float: right;
	width:48px;
	height:48px;
	position: relative;
	background-image: url(../art/navigator.png);
	background-size: 30px;
	background-position: center;
	background-repeat: no-repeat;
	display: none;
}

#backgroundfalse, #backgroundtrue{
  display: none;	
}

#navigator{
	float: right;
}

header li a{
	display: inline-block;
	padding:15px 20px;
}

header li a:after, #navigatorButton:after{
	width:100%;
	display: inline-block;
	height:5px;
	position: absolute;
	bottom:0px;
	left:0;
	content: "";
	transition: background ease 0.25s;

}

header li a:hover:after, #navigatorButton:hover:after{
	background: #2196f3;
}

#currentPage{
	background: #212121;
}

#currentPage:after{
	background: #ff9800;
}

footer{
	background: #fafafa;
}

footer a{
	color:#000;
}

#footerBody{
	width:300px;
	padding:20px 0;
	margin:0 auto;
	text-align: center;
}

#footerBody div{
	padding: 3px;
	font-size: 0.7rem;
	font-weight: 300;
}

@media screen and (max-width: 1023px){
	body{
		min-width: 320px;
	}
	header ul{
		width:100%;
	}
}

@media screen and (max-width: 600px){
	#navigatorButton{
		display: inline-block;
	}

	#navigator{
		float: none;
		display: block;
    position: absolute;
		background: #000;
		z-index: 10;
		right:0;
	}
	
	#navigator li{
		display: block;
	}
	
	#navigator li a{
		display: block;
	}
	
	.navigatorfalse{
		display: none !important;
	}
	
	#backgroundtrue{
		display: block;
		position: fixed;
		height:100%;
		width:100%;
		z-index: 9;
		top:0;
	}
}